veb-aplikacija-agent/src/main/resources/korisnici.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.megatravel.com/mikroserviskorisnici/xml" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.megatravel.com/mikroserviskorisnici/xml" targetNamespace="http://www.megatravel.com/mikroserviskorisnici/xml">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/mikroserviskorisnici/xml">
            <xs:element name="preuzmiSveKorisnikeRequest">
                <xs:complexType>
                    <xs:sequence>
			</xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sviKorisniciResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="korisnici" type="tns:KorisnikDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="KorisnikDTO">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="ime" type="xs:string"/>
                    <xs:element name="prezime" type="xs:string"/>
                    <xs:element name="mejl" type="xs:string"/>
                    <xs:element name="sifra" type="xs:string"/>
                    <xs:element minOccurs="0" name="poslovniMaticniBroj" type="xs:string"/>
                    <xs:element name="status" type="tns:StatusKorisnika"/>
                    <xs:element name="tip" type="tns:TipKorisnika"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="StatusKorisnika">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="AKTIVAN"/>
                    <xs:enumeration value="BLOKIRAN"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="TipKorisnika">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="KORISNIK"/>
                    <xs:enumeration value="ADMINISTRATOR"/>
                    <xs:enumeration value="AGENT"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="logovanjeAgentaRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="mejl" type="xs:string"/>
                        <xs:element name="sifra" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="logovanjeAgentaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="uspesno" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="preuzmiSveKorisnikeRequest">
        <wsdl:part element="tns:preuzmiSveKorisnikeRequest" name="preuzmiSveKorisnikeRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="logovanjeAgentaRequest">
        <wsdl:part element="tns:logovanjeAgentaRequest" name="logovanjeAgentaRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sviKorisniciResponse">
        <wsdl:part element="tns:sviKorisniciResponse" name="sviKorisniciResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="logovanjeAgentaResponse">
        <wsdl:part element="tns:logovanjeAgentaResponse" name="logovanjeAgentaResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PortZaKorisnike">
        <wsdl:operation name="preuzmiSveKorisnike">
            <wsdl:input message="tns:preuzmiSveKorisnikeRequest" name="preuzmiSveKorisnikeRequest">
    </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="logovanjeAgenta">
            <wsdl:input message="tns:logovanjeAgentaRequest" name="logovanjeAgentaRequest">
    </wsdl:input>
            <wsdl:output message="tns:logovanjeAgentaResponse" name="logovanjeAgentaResponse">
    </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sviKorisnici">
            <wsdl:output message="tns:sviKorisniciResponse" name="sviKorisniciResponse">
    </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortZaKorisnikeSoap11" type="tns:PortZaKorisnike">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="preuzmiSveKorisnike">
            <soap:operation soapAction=""/>
            <wsdl:input name="preuzmiSveKorisnikeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="logovanjeAgenta">
            <soap:operation soapAction=""/>
            <wsdl:input name="logovanjeAgentaRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="logovanjeAgentaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sviKorisnici">
            <soap:operation soapAction=""/>
            <wsdl:output name="sviKorisniciResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PortZaKorisnikeService">
        <wsdl:port binding="tns:PortZaKorisnikeSoap11" name="PortZaKorisnikeSoap11">
            <soap:address location="http://localhost:9999/mikroservis-korisnici/servisi"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>